<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
    <springProperty scope="context" name="SERVER" source="logging.file.server-name"/>
    <springProperty scope="context" name="LOG_ROOT" source="logging.file.root-path"/>

    <property name="LOG_DIR" value="${LOG_ROOT}/${SERVER}"/>
    <property name="LOG_FILE_EXT" value="log"/>
    <property name="LOG_LEVEL" value="info"/>
    <property name="LOG_PATTERN" value='%d{yyyy-MM-dd HH:mm:ss.SSS}  %-5level --- [%thread] %logger{36} : %msg%n'/>
    <!--  DAY PROPS -->
    <property name="LOG_FILE_NAME" value="sb"/>
    <property name="ERROR_LOG_FILE_NAME" value="error_sb"/>
    <!--  MONTH PROPS  -->
    <property name="MONTH_LOG_FILE_NAME" value="month_sb"/>
    <property name="ERROR_MONTH_LOG_FILE_NAME" value="error_month_sb"/>
    <!--  DRM PROPS  -->
    <property name="DRM_LOG_FILE_NAME" value="drm_sb"/>
    <property name="MONTH_DRM_LOG_FILE_NAME" value="month_drm_sb"/>
    <!--  RPA PROPS  -->
    <property name="RPA_LOG_FILE_NAME" value="rpalog"/>
    <property name="RPA_LOG_FILE_DIR" value="/data/rpaupload"/>
    <!--  MONTH REPORT PROPS  -->
    <property name="MONTH_REPORT_LOG_NAME" value="month_report_sb"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/${SERVER}_${LOG_FILE_NAME}.${LOG_FILE_EXT}</file>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/%d{yyyyMMdd,aux}/${SERVER}_${LOG_FILE_NAME}_%d{yyyyMMdd}.${LOG_FILE_EXT}</fileNamePattern>
            <maxHistory>31</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <file>${LOG_DIR}/${SERVER}_${ERROR_LOG_FILE_NAME}.${LOG_FILE_EXT}</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/%d{yyyyMMdd,aux}/${SERVER}_${ERROR_LOG_FILE_NAME}_%d{yyyyMMdd}.${LOG_FILE_EXT}</fileNamePattern>
            <maxHistory>31</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="MONTH_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/${SERVER}_${MONTH_LOG_FILE_NAME}.${LOG_FILE_EXT}</file>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/%d{yyyyMM,aux}/${SERVER}_${MONTH_LOG_FILE_NAME}_%d{yyyyMMdd}.${LOG_FILE_EXT}</fileNamePattern>
            <maxHistory>2</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="MONTH_ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <file>${LOG_DIR}/${SERVER}_${ERROR_MONTH_LOG_FILE_NAME}.${LOG_FILE_EXT}</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/%d{yyyyMM,aux}/${SERVER}_${ERROR_MONTH_LOG_FILE_NAME}_%d{yyyyMMdd}.${LOG_FILE_EXT}</fileNamePattern>
            <maxHistory>2</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="DRM_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/${SERVER}_${DRM_LOG_FILE_NAME}.${LOG_FILE_EXT}</file>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/%d{yyyyMMdd,aux}/${SERVER}_${DRM_LOG_FILE_NAME}_%d{yyyyMMdd}.${LOG_FILE_EXT}</fileNamePattern>
            <maxHistory>31</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="MONTH_DRM_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/${SERVER}_${MONTH_DRM_LOG_FILE_NAME}.${LOG_FILE_EXT}</file>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/%d{yyyyMM,aux}/${SERVER}_${MONTH_DRM_LOG_FILE_NAME}_%d{yyyyMMdd}.${LOG_FILE_EXT}</fileNamePattern>
            <maxHistory>2</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="RPA_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${RPA_LOG_FILE_DIR}/${RPA_LOG_FILE_NAME}.${LOG_FILE_EXT}</file>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${RPA_LOG_FILE_DIR}/${RPA_LOG_FILE_NAME}_%d{yyyyMM}.${LOG_FILE_EXT}</fileNamePattern>
            <maxHistory>2</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="MONTH_REPORT_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/${SERVER}_${MONTH_REPORT_LOG_NAME}.${LOG_FILE_EXT}</file>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/%d{yyyyMM,aux}/${SERVER}_${MONTH_REPORT_LOG_NAME}_%d{yyyyMM}.${LOG_FILE_EXT}</fileNamePattern>
            <maxHistory>2</maxHistory>
        </rollingPolicy>
    </appender>

    <springProfile name="local">
        <root level="${LOG_LEVEL}">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE"/>
            <appender-ref ref="ERROR"/>
        </root>
        <logger name="org.hibernate.type.descriptor.sql" level="debug" additivity="false">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE"/>
            <appender-ref ref="ERROR"/>
        </logger>
        <logger name="org.hibernate.SQL" level="debug" additivity="false">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE"/>
            <appender-ref ref="ERROR"/>
        </logger>
        <logger name="com.daesang.springbatch" level="debug" additivity="false">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE"/>
            <appender-ref ref="ERROR"/>
        </logger>
        <logger name="com.daesang.springbatch.common.util.MarkAnyUtil" level="debug" additivity="false">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="DRM_FILE"/>
            <appender-ref ref="ERROR"/>
        </logger>
        <logger name="com.daesang.springbatch.rpa.report" level="info" additivity="false">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="RPA_FILE"/>
            <appender-ref ref="DRM_FILE"/>
        </logger>
        <logger name="com.daesang.springbatch.report.batchreport" level="info" additivity="false">
            <appender-ref ref="MONTH_REPORT_FILE"/>
        </logger>
    </springProfile>

    <springProfile name="sit">
        <root level="${LOG_LEVEL}">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE"/>
            <appender-ref ref="ERROR"/>
        </root>
        <logger name="org.hibernate.type.descriptor.sql" level="debug" additivity="false">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE"/>
            <appender-ref ref="ERROR"/>
        </logger>
        <logger name="org.hibernate.SQL" level="debug" additivity="false">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE"/>
            <appender-ref ref="ERROR"/>
        </logger>
        <logger name="com.daesang.springbatch" level="debug" additivity="false">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE"/>
            <appender-ref ref="ERROR"/>
        </logger>
<!--        <logger name="com.daesang.springbatch.common.util.MarkAnyUtil" level="debug" additivity="false">-->
<!--            <appender-ref ref="CONSOLE"/>-->
<!--            <appender-ref ref="DRM_FILE"/>-->
<!--            <appender-ref ref="ERROR"/>-->
<!--        </logger>-->
<!--        <logger name="com.daesang.springbatch.rpa.report" level="info" additivity="false">-->
<!--            <appender-ref ref="CONSOLE"/>-->
<!--            <appender-ref ref="RPA_FILE"/>-->
<!--            <appender-ref ref="DRM_FILE"/>-->
<!--        </logger>-->
        <logger name="com.daesang.springbatch.report.batchreport" level="info" additivity="false">
            <appender-ref ref="MONTH_REPORT_FILE"/>
        </logger>
    </springProfile>

    <springProfile name="prod">
        <root level="${LOG_LEVEL}">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE"/>
            <appender-ref ref="ERROR"/>
        </root>
        <logger name="org.hibernate.type.descriptor.sql" level="info" additivity="false">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE"/>
            <appender-ref ref="ERROR"/>
            <appender-ref ref="MONTH_FILE"/>
            <appender-ref ref="MONTH_ERROR"/>
        </logger>
        <logger name="org.hibernate.SQL" level="info" additivity="false">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE"/>
            <appender-ref ref="ERROR"/>
            <appender-ref ref="MONTH_FILE"/>
            <appender-ref ref="MONTH_ERROR"/>
        </logger>
        <logger name="com.daesang.springbatch" level="info" additivity="false">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE"/>
            <appender-ref ref="ERROR"/>
            <appender-ref ref="MONTH_FILE"/>
            <appender-ref ref="MONTH_ERROR"/>
        </logger>
<!--        <logger name="com.daesang.springbatch.common.util.MarkAnyUtil" level="info" additivity="false">-->
<!--            <appender-ref ref="CONSOLE"/>-->
<!--            <appender-ref ref="DRM_FILE"/>-->
<!--            <appender-ref ref="MONTH_DRM_FILE"/>-->
<!--            <appender-ref ref="ERROR"/>-->
<!--        </logger>-->
<!--        <logger name="com.daesang.springbatch.rpa.report" level="info" additivity="false">-->
<!--            <appender-ref ref="CONSOLE"/>-->
<!--            <appender-ref ref="RPA_FILE"/>-->
<!--            <appender-ref ref="DRM_FILE"/>-->
<!--            <appender-ref ref="MONTH_DRM_FILE"/>-->
<!--        </logger>-->
        <logger name="com.daesang.springbatch.report.batchreport" level="info" additivity="false">
            <appender-ref ref="MONTH_REPORT_FILE"/>
        </logger>
    </springProfile>
</configuration>